/* Typo */
@import url('https://fonts.googleapis.com/css?family=Raleway');

h4 {
  font-size: 16px;
}

* {
  font-family: 'Raleway', sans-serif;
}

a {
  cursor: pointer;
}

h2 {
  font-size: 150%;
}

/* General */
hr {
  border-top: 2px dotted #DCDEE3;
}

.bkg-gradient-blue {
  background-image: url(../img/bg_gradient1px.png);
  background-size: 100% auto;
}

.full-width {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-top-lg {
  margin-top: 40px;
}

.padding-0 {
  padding: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.width-ratio {
  width: 100%;
  height: auto;
}


/* Landing page */
.landing-page-arrows {
  position: absolute;
  right: 0px;
  width: 100%;
}

.landing-page-arrows .arrow-left {
  background: url(../img/img_triangle_left.svg) no-repeat top left;
  background-size: 428px 766px;
  height: 766px;
  width: 428px;
  left: 0px;
  top: 0px;
  display: block;
  position: absolute;
}

.landing-page-arrows .arrow-right {
  background: url(../img/img_triangle_right.svg) no-repeat top right;
  background-size: 287px 853px;
  height: 853px;
  width: 287px;
  right: 0px;
  top: 800px;
  display: block;
  position: absolute;
}

.bkg-kids {
  background: url(../img/img_enfants.jpg) no-repeat top right;
  background-size: 100% auto;
  padding-top: 200px;
}

.lab-stripe {
  background-color: #DCEDF9;
  display: block;
  position: absolute;
  z-index: -1;
  width: 2500px;
  left: -765px;
  height: 100%;
}

.lab a {
  color: #649CEC;
  font-weight: bold;
  margin-right: 15px;
}

.fct-item {
  min-height: 200px;
}

.sheet .fct-label {
  color: #9CA7B2;
}

.kids-1-on-10 {
  border-right: 2px dotted #D8D8D8;
}

.landing-page .blue-big {
  color: #157EDE;
  font-size: 40px;
  margin: 0px;
}

.landing-page .blue-small {
  color: #157EDE;
  font-size: 14px;
}

.landing-page h4 {
  color: #47627F;
}

.landing-page hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.copyright-footer {
  color: #707E94;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Navbar */
.navbar-default {
  background-color: transparent;
  border: none;
}

.lang-link {
  color: white;
  display:inline-block;
}

.navbar-left {
  margin-top: 15px;
}

.navbar-right {
  margin-top: 30px;
  margin-right: 0;
}